
<div class="jumbotron mt-4">
    <h1 class="display-4">
        About NoteNet
    </h1>
    <p class="lead">
        In this doc you will read all the info about the app.
    </p>
    <hr class="my-4" id="linea">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, tenetur quisquam fugit minima quod dolorum?
        Quisquam dolores maiores mollitia tempore.
    </p>
    <a href="instagram" class="text-center">About the owner</a>
</div>