<div class="border border-light border-5" id="bordeA">
    <h1 id="textoA">Docs NoteNet</h1>
  </div>
  

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">All about notes</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">  
        <h2><i class="fa-solid fa-note-sticky fa-xl"></i>  Create a note</h2>
        <p>First you have to be registered into your account.<br> To create a note, go up to notes > add note; or go to the note-card that has the icon " + "</p>
      </div>
      <div class="feature col">
        <h2><i class="fa-solid fa-pen-to-square fa-xl"></i>  Edit a note</h2>
        <p>To edit: <br>  Click the pencil situated at the right on the title of the note. Rewrite the items you want to change and click "save" button.</p>
      </div>
      <div class="feature col">
        <h2><i class="fa-solid fa-share-nodes fa-xl"></i>   Send a note</h2>
        <p>When you are editng a note, there is an inputh that says: "Destinatary", in it write the name of de person that you want to send the note to, (there is an autocomplete item when you write). <br> Just now after click save, the other person will have recived your note. <br> If this person wants to reply, they only have to edit the note.</p>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">About programming</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h2><i class="fa-brands fa-node-js fa-xl"></i>Node.js</h2>
          <p>This app is built in nodejs.</p>
          <a href="https://nodejs.org" class="btn btn-primary">
            Node.js Oficcial WebSite
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2><i class="fa-solid fa-database fa-xl"></i>MongoDb</h2>
          <p>This page uses MongoDb Atlas with "mongoose" node.js librery</p>
          <a href="https://www.mongodb.com/" class="btn btn-primary">
            MongoDb page
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2><i class="fa-solid fa-code fa-xl"></i>  Other</h2>
          <p>This page allready uses webpack, handlebars, bcrypt, morgan, passport...</p>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  

  
  </div>