
<div class="jumbotron mt-4">
    <h1 class="display-4">
        NoteNet
    </h1>
    <p class="lead">
        A litle curious app.
    </p>
    <hr class="my-4" id="linea">
    <p>
        NoteNet is an app that works with notes. <br> 
        This notes can be sendt to other person anonymously;<br> this person can response but can not know who is the creator of the note.
    </p>
    <a href="about" class="text-center">View more info here.</a>
</div>