#borde {
    margin-left: 1cm;
}

#log{
    color: black;
}

.btn:hover.logger{
    color: black;
    background-color: white;
    border: 0.5px solid gray ;
}

#img-pencil {
    margin-left: 0.5cm;
    margin-bottom: 0.5cm;
    color: #adb5bd;

}

#linea {
    color: white;
    background-color: rgb(175, 171, 171);
}

#nav-title {
    right: 1cm;
}

#carta {
    margin: 0.1cm;
}

#btn-close {
    margin-left: 2.5cm;
}

@media screen and (min-width: 1182px) {
    #btn-closeE{
        margin-left: 20%;
    }
 }

 @media screen and (max-width: 1182px) {
    #btn-closeE{
        margin-left: 5%;
    }
 }

#dropdownMenu2 {
    color: rgb(0, 0, 0);
    font-size: 2.5ch;
}

#btn-close-edit {
    margin-left: 2cm;
}

/** #e74c3c **/
#error {
    height: 30px;
}

#text {
    color: #e74c3c;
}

#footer {
    padding-right: 0;
    padding-left: 0;
    left: 0px;
    bottom: 0px;
}

bordeA {

    left: 5cm;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

textoA {
    text-align: center;
}