
<div class="container-fluid my-2 mt-4" id="footer">

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
               <p>Any questions or problems?</p>
               <p>Write an e-mail to: <a href="/support" class="text-reset"><u><strong>support@notenet.es</strong></u></a> </p>
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/NoteNet2" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/notenet1/" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i
                        class="fab fa-linkedin-in"></i></a> -->


                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/chemokita13" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright notenet.es 2.0.2.8
       </div>
    </footer>
    <div class="optiads-native OPTI-45705-6607-28485"></div>
</div>

