<div class="col-md-4 mx-auto">
    <div class="card tex-center">
        <div class="card-header">
            <h3>
                Anonimus note
            </h3>
        </div>
        <div class="card-body">
            <form action="/anonimus-msg/{{user}}" method="post">
                <div class="form-group">
                    <input type="text" name="title" id="" class="form-control" placeholder="Title" autofocus>
                </div>
                <div class="form-group">
                    <textarea type="text" name="description" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>