<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account login
            </div>
            <div class="card-body">
                <form action="/users/login" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="username or e-mail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit"class="btn btn-primary btn-block">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>